[submodule "cpp-advanced-hse-grader"]
	path = grader
	url = ../cpp-advanced-hse-grader.git
[submodule "private"]
	path = private
	url = ../cpp-advanced-hse-private.git
[submodule "seminars/13-build-systems-dependencies-ecosystem/dependencies/git/dependencies/spdlog"]
	path = seminars/13-build-systems-dependencies-ecosystem/dependencies/git/dependencies/spdlog
	url = https://github.com/gabime/spdlog.git
